

h2 {
    font-family: "El Messiri";
    font-weight: 800;
    font-size: 50px;
}

p {
    font-family: "El Messiri";
    line-height: 1.7;
    font-size: 18px;
}

img {
    border-radius: 4px;
    border: 1px solid rgb(44%, 24%, 74%);
}

nav {
    margin: 10px 70px 5px;
}

ul {
    justify-content: end;
    margin: 0;
}

nav li {
    list-style: none;
    line-height: 40px;
    margin-left: 60px;
font-size: 18px;
font-weight: 600;
font-family: "El Messiri";
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover, a:hover {
    color:rgb(44%, 24%, 74%);
}

a {
    text-decoration: none;
}

.btn {
  font-family: "El Messiri";
}

.hero {
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
  padding: 150px 20px;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/028/781/original/resizedbg2.jpg?1646713969);
}

.hero p {
  font-family: "El Messiri";
  font-size: 36px;
  color: white;
}

.hero h1 {
    text-shadow:5px 0 0 rgb(44%, 24%, 74%),0 1px 0 rgb(44%, 24%, 74%),-1px 0 0 rgb(44%, 24%, 74%),0 -1px 0 rgb(44%, 24%, 74%);
    color: white;
      font-size: 96px;
  font-family: 'Righteous', cursive;
  color: white;
}

.hero h2 {
     font-family: "El Messiri";
  font-size: 30px;
  color: white;
  font-weight: normal;
}

.container-content {
    padding: 80px 20px;
}
.container-content h1 {
font-family: 'Righteous', cursive;
font-size: 60px;
color: rgb(44%, 24%, 74%);

}

.container-content h2 {
      font-family: "El Messiri";
    font-weight: 600;
    font-size: 24px;
}

.container-content h3 {
    font-size: 24px;
}

.container-content p {
    font-size: 16px;
}
.content {
    padding: 10px 60px;
}

.about-image {
    border-radius: 20px;
}

.btn-branding {
  background-color: rgb(44%, 24%, 74%);
  color: white;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 6px;
}

.btn-branding:hover {
  color: white;
}

.project-intro {
    padding: 0 40px;
}

.btn-branding-outline {
border: 1px solid rgb(44%, 24%, 74%);
color: rgb(44%, 24%, 74%);
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 6px;
}

.btn-branding-outline:hover {
    color: rgb(44%, 24%, 74%);
}

@media (max-width: 988px) {
    .hero h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 36px;
    }
    .hero {
        padding: 80px 70px;
    }
    .hero h2 {
        font-size: 18px;
    }

    .hero p {
        font-size: 22px;
    }
.project-intro {
    text-align: center;
    padding: 0;
}
.container-content {
    text-align: center;
    padding: 30px;
}
.container-content h1 {
    font-size: 40px;
}
.container-content a {
    margin-bottom: 30px;
}
nav {
    display: flex;
    justify-content: center;
    padding-right: 60px;
}
nav li {
    margin-left: 26px;
}
}
/*rgb(14%, 19%, 37%)
/*rgb(52%, 80%, 92%)