h1 {
  font-size: 96px;
  font-family: "Sansita Swashed";
  color: white;
}

h2 {
  font-family: "El Messiri";
  font-size: 30px;
  color: white;
  font-weight: normal;
}

.btn {
  font-family: "El Messiri";
}

.hero {
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
  padding: 200px 70px;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/028/781/original/resizedbg2.jpg?1646713969);
}

.hero p {
  font-family: "El Messiri";
  font-size: 36px;
  color: white;
}

.hero h1 {
    text-shadow:5px 0 0 rgb(44%, 24%, 74%),0 1px 0 rgb(44%, 24%, 74%),-1px 0 0 rgb(44%, 24%, 74%),0 -1px 0 rgb(44%, 24%, 74%);
    color: white;
}

.btn-branding {
  background-color: rgb(44%, 24%, 74%);
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 6px;
}

.btn-branding:hover {
  color: white;
}
/*rgb(14%, 19%, 37%)
/*rgb(52%, 80%, 92%)